#game-container {
    position: relative;
    width: 100%;
}

#game-container > * {
    position: absolute;
}

#canvas {
    min-height: 400px;
    right: 0;
}

#word-history {
    overflow-y: scroll;
    min-height: 200px;
    height: 200px;
}

#current-word {
    position: relative;
    height: 60px;
    padding: 6px;
    margin: 6px 0;
    background: #303F9F;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
}

#current-word a {
    position: absolute;
    right: 6px;
    top: 4px;
}

#word-score {
    text-align: center;
    font-size: 20px;
    padding: 2px;
}

#dictionary-frame {
    width: 100%;
    min-height: 200px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.game-score {
    font-size: 26px;
    font-weight: bold;
}

.timer {
    display: inline-block;
    margin: 1px 8px 4px 0;
    font-family: monospace;
    font-size: 18px;
}
